.oneInputForm {
  --form-inner-space: 6px;
  align-items: stretch;
  border: 2px solid var(--color-border);
  border-radius: 12px;
  display: flex;
  padding: var(--form-inner-space);

  .input {
    border: 0;
    flex: 1 1 auto;
    inline-size: auto;
    margin-block-end: 0;
    min-inline-size: 0;
    padding-block: var(--box-spacing);
    padding-inline: var(--form-inner-space) var(--box-spacing);

    @media (min-width: $breakpoint-mobile-horizontal) {
      padding-block: 0;
    }

    &:focus {
      outline: none;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .button {
      flex: 0 0 auto;
      inline-size: auto;
      min-inline-size: 112px;
      padding-block: 13px;
      padding-inline: 24px;
    }
  }
}
